HELP.md

# ==========================
# Maven
# ==========================
target/
!**/src/main/**/target/
!**/src/test/**/target/

# ==========================
# Spring Tool Suite (STS)
# ==========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iws
*.iml
*.ipr

# ==========================
# NetBeans
# ==========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment & Secrets
# ==========================
.env
.env.*

application.properties
application-dev.properties
application-docker.properties
application-local.properties

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db